<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>visitor</title>

    <style type="text/css">

/*整个显示柱状图的区域的高度的是500px;每个柱子的宽是50px;每个柱子的间隔是：50px；第一个柱子的left是100px；*/
*{
	margin:0px;
	padding:0px;
}
#box{
	width:800px;
	height:500px;
	border-bottom:solid 2px black;
	position:relative;
}

</style>
    <!--<script src="../static/js/d3.min.js"></script>-->
    <script src="../static/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="../static/js/visitor.js"></script>
    <script></script>
</head>

<body>
		<input id="btnGet" type="button" value="getvisitor"  />
		<div id="box">
		</div>
        <br>
        <input id="btnGetLogin" type="button" value="getloginUser"  />
        <div id="loginbox">
		</div>
</body>

</html>